<main class="main-content">
    <div class="main-bg">
        <section class="hero">
            <header class="hero-content">
                <h1 class="hero-content-title">Save Money every month</h1>
                <h3 class="hero-content-subtitle">Manage your expenses to save money</h3>
                <button class="start-reading-button">
                    <a class="link-btn" asp-controller="Account" asp-action="Login">Let's Start</a>
                </button>
            </header>
            <img class="hero-content-img" src="~/images/save_money.jpg" alt="Image of books">
        </section>
    </div>
</main>